RAD_USER = uw netid
RAD_PASSWORD = uw netid password
RAD_SERVER = rad db http address
RAD_DATABASE = schema (dev, prod, master etc.)
AZURE_CLIENT_ID = app registered in azure client id
AZURE_TENANT_ID = app registered in azure tenant id 
EXTENSION_FORMS_SHORT_LINK = link to the pi request sharepoint form
AUTOFILL_API_BASE_URL = localhost autofiller web server http address
LLM_API_KEY = API KEY Registered for GCloud VM 
LLM_API_BASE_URL = External IP Address for GCloud VM 